/* font family from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* colors variety */

:root {
  --b-700: #36406e;
  --b-600: #414f88;
  --b-300: #a6b0d3;
  --b-200: #d0d4e7;
  --b-50: #f5f6fa;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: var(--b-700);
}

.box {
  width: 300px;
  height: 300px;
  background-color: var(--b-50);
  border-radius: 5px;
}
/* notification bar menu */

.notification-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--b-600);
  height: 15%;
  border-radius: 3px 3px 0 0;
}
.title {
  font-size: 20px;
  font-weight: 500;
  color: var(--b-50);
}
/* hamburger menu for notification bar  */

.hamburger-menu {
  margin-left: 20px;
}
.top-rectangle-with-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#rectangle-top {
  height: 5px;
  width: 25px;
  background-color: var(--b-200);
  margin-right: 5px;
  border-radius: 5px 5px;
}
#circle-menu-top {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--b-200);
}

#rectangle-bottom {
  height: 5px;
  width: 40px;
  background-color: var(--b-200);
  margin-top: 5px;
  border-radius: 5px 5px;
}
/* search glass */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
#search-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid var(--b-200);
}
#search-rectangle {
  height: 5px;
  width: 12px;
  background-color: var(--b-200);
  border-radius: 0 5px 5px 0;
  transform: translateX(-20%) translateY(135%) rotate(25deg);
}

/* posts area */

.posts {
  display: flex;
  height: 85%;
  width: 100%;
}

/* line-circle-div  */

.line-circle-wall {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 5%;
  margin-right: 0;
  margin-left: 25px;
}

.line {
  height: 100%;
  min-height: 48px;
  width: 4px;
  background-color: var(--b-300);
  margin-bottom: 5px;
}
#line-4 {
  margin: 0;
}

.circle {
  height: 100%;
  width: 8px;
  border-radius: 50%;
  border: 2px solid var(--b-600);
  background-color: transparent;
  margin-bottom: 5px;
  cursor: pointer;
}

/* posts  */

.all-posts {
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--b-700);
  margin-right: 35px;
  margin-top: 50px;
  margin-left: 10px;
}

.p-post {
  margin: 3px;
}

#second-post {
  margin-top: 6px;
}
#third-post {
  margin-top: 6px;
}
